<!-- <p-dialog header="Modal Dialog"  [(visible)]="visible" (onHide)="hideModal()" [modal]="true" [responsive]="true"  class="custom-dialog">


    <p-progressBar [value]="value"></p-progressBar> -->
	<!-- <p-fileUpload name="myfile" url="./upload" accept="image/*" (onUpload)="handleUpload($event)"></p-fileUpload> -->
	<!-- <p-lightbox [images]="uploadedImages | async"></p-lightbox>

	<div class="container">
		<p-fileUpload mode="basic" style="float:left;" chooseLabel="Select" (onSelect)="onFileSelected($event)"></p-fileUpload>
		<button pButton type="button" style="float:left; margin-left: 10px;" (click)="uploadImage()">Read Image</button>
		<button style="float:right;" pButton type="button" (click)="hideModal()" label="Close"></button>
		<br>
		<p-image *ngIf="imagePreview" [src]="imagePreview" class="img-thumbnail" aria-placeholder="img-thumbnail"></p-image>
	  </div>

  </p-dialog> -->
  