<!-- 

<div class="card">

  
    <br/>
    <br/>



    <p-panel>
        <ng-template pTemplate="header"> <span class="text-primary font-semibold text-xl">Eligibility History</span>  <span
        style="margin-left: 86%;">    <p-button style="float:right" icon="pi pi-filter"
        styleClass="p-button-rounded p-button-secondary" (click)="ClickFilter()" ></p-button>
        </span></ng-template>
  

      
       
            
            
   
      
        





        <div class="flex card-container">
            <div  >
    
        
                
            

                <p-table
                [style]="{'width':'100%','overflow':'auto!important'}"
                #table
                [value]="schedule"
                dataKey="id"
                [rows]="100"
                [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[10, 25, 50]"
              
                [paginator]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [globalFilterFields]="['mRNo']"
            >
                
                <ng-template pTemplate="header">
                    <tr>
            
            
                     
                        

                   


                     


                      
                        <th  >
                            <div class="flex align-items-center">
                                MRNO
                                <p-columnFilter type="text" field="mRNo" display="menu"></p-columnFilter>
                            </div>
                        </th>



                        <th >
                            <div class="flex align-items-center">
                                 Patient Name
                                <p-columnFilter type="text" field="patientName" display="menu"></p-columnFilter>
                            </div>
                        </th>


                        <th  >
                            <div class="flex align-items-center">
                                Facility
                                <p-columnFilter type="text" field="facilityName" display="menu"></p-columnFilter>
                            </div>
                        </th>

                        <th  >
                            <div class="flex align-items-center">
                                 EligibilityNo
                                <p-columnFilter type="text" field="EligibilityNo" display="menu"></p-columnFilter>
                            </div>
                        </th>


                   



                        <th  >
                            <div class="flex align-items-center">
                               Eligibility Request Status
                                <p-columnFilter type="text" field="eLRequestStatus" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th >
                            <div class="flex align-items-center">
                                Status
                                <p-columnFilter type="text" field="Status" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th >
                            <div class="flex align-items-center">
                                API
                                <p-columnFilter type="text" field="API" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th >
                            <div class="flex align-items-center">
                                Request Body
                                <p-columnFilter type="text" field="requestStr" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th >
                            <div class="flex align-items-center">
                                Response Body
                                <p-columnFilter type="text" field="responseStr" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th >
                            <div class="flex align-items-center">
                             Message Type
                                <p-columnFilter type="text" field="messageType" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        
                        <th >
                            <div class="flex align-items-center">
                             Request Date
                                <p-columnFilter type="text" field="requestDate" display="menu"></p-columnFilter>
                            </div>
                        </th>

                        <th >
                            <div class="flex align-items-center">
                             Response Date
                                <p-columnFilter type="text" field="responseDate" display="menu"></p-columnFilter>
                            </div>
                        </th>
                       




                        



                      


                        
            
                     
                        
            
                      
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-schedule>
                    <tr>


                        <td>
                            <span class="ml-1 vertical-align-middle">{{ schedule.psId }}</span>
                        </td>

                       
                     
                        <td>
                            <span class="ml-1 vertical-align-middle">{{ schedule.providerName }}</span>
                        </td>

                        <td>
                            <span class="ml-1 vertical-align-middle">{{ schedule.siteName }}</span>
                        </td>
            

                        <td>
                            <span class="ml-1 vertical-align-middle">{{ schedule.facilityName }}</span>
                        </td>
            
                        <td>
                            <span class="ml-1 vertical-align-middle">{{ schedule.usage }}</span>
                        </td>


                        <td>
                            <span class="ml-1 vertical-align-middle">{{ schedule.startDate  | date: 'MM/dd/yyyy'  }}</span>
                        </td>

                        <td>
                            <span class="ml-1 vertical-align-middle">{{ schedule.endDate  | date: 'MM/dd/yyyy'  }}</span>
                        </td>


                        <td class="text-center">
                            <i class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': schedule.active, 'text-red-500 pi-times-circle': !schedule.active }"></i>
                        </td>



                        <td>
                          

                            <p-button  icon="pi pi-eye"
        styleClass="p-button-rounded" (click)="ViewAvailability(schedule)" ></p-button>


                        </td>
            
                        
                     

                     
            

                        <td  *ngxPermissionsOnly="['Control Panel:HR Schedule:Edit']" >
                             
                           
                            <a [routerLink]="['/control-panel/users/edit']" [queryParams]="{id: schedule.psId}" routerLinkActive="active">
                                <i class="pi pi-user-edit"></i><span>Edit</span>
                            </a>
                       
                        </td>
            
            
                        <td *ngxPermissionsOnly="['Control Panel:HR Schedule:Delete']">
                         
                         
                   
                       
            
                <p-button (click)="confirm($event,schedule.psId,'bottom')"  pTooltip="Delete User" icon="pi pi-trash"  styleClass="p-button-danger"></p-button>
            
                        </td>
        
            
            
            
            
                   
                  
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">No record found.</td>
                    </tr>
                </ng-template>
            
            
                
            
            </p-table>
                
             
                
                <p-toast></p-toast>
    
    
            </div>
        </div>

      
       

    
    </p-panel>






</div>
















<p-confirmDialog [style]="{ width: '50vw' }" key="positionDialog" [position]="position" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>








  
  
  
  
  
  
  
  

<p-dialog header="Filter" [(visible)]="filter" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '80vw' }"
[draggable]="false" [maximizable]="true">


<br /><br />



<div class="container-fluid">


   <div class="row">

    <div class="col-sm-3">
        <p-dropdown [options]="hrEmployees" [(ngModel)]="selectedEmployee" placeholder="Select Employee"
            optionLabel="name" inputId="float-label"></p-dropdown>


    </div>
    <div class="col-sm-3">
        <p-dropdown [options]="facilities" [(ngModel)]="selectedFacility" placeholder="Select Facility"
            optionLabel="name" inputId="float-label"></p-dropdown>

    </div>

    <div class="col-sm-3">
        <p-dropdown [options]="sites" [(ngModel)]="selectedSites" placeholder="Select Sites"
            optionLabel="name" inputId="float-label"></p-dropdown>

    </div>
    <div class="col-sm-3">
        <p-dropdown [options]="clinicalUsage" [(ngModel)]="selectedclinicalUsage" placeholder="Select Usage"
            optionLabel="name" inputId="float-label"></p-dropdown>

    </div>


   </div>


   <div class="row">

    <div class="col-3">


        <p-calendar [(ngModel)]="dailystartTime" placeholder="Daily Start Time" [timeOnly]="true"
            hourFormat="12" [inline]="false"></p-calendar>


    </div>
    <div class="col-sm-3">
        <p-calendar [(ngModel)]="dailyEndTime" placeholder="Daily End Time" [timeOnly]="true"
            hourFormat="12" [inline]="false"></p-calendar>
    </div>
    <div class="col-sm-3">
        <p-dropdown [options]="active" [(ngModel)]="selectedActive" placeholder="Active" optionLabel="name"
            inputId="float-label"></p-dropdown>

    </div>

   </div>


</div>

<br/>



<p-button style="float:right" label="Submit"  (click)="submitFilter()"></p-button>


</p-dialog>
  
  
  










<p-dialog header="Available Days" [(visible)]="availabilityfilter" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '20vw' }"
[draggable]="false" [maximizable]="false">




<div class="flex align-items-center gap-1">
    <p-checkbox name="group1"  [disabled]="true" value="Monday" [(ngModel)]="selectedschedule.monday" [binary]="true"  inputId="mon"></p-checkbox>
    <label for="mon">Monday</label>
</div>

<div class="flex align-items-center gap-1">
<p-checkbox name="group1" [disabled]="true" value="Tuesday" [(ngModel)]="selectedschedule.tuesday" [binary]="true"  inputId="tue"></p-checkbox>
<label for="tue">Tuesday</label>
</div>

<div class="flex align-items-center gap-1">
<p-checkbox name="group1" [disabled]="true" value="Wednesday" [(ngModel)]="selectedschedule.wednesday" [binary]="true"  inputId="wed"></p-checkbox>
<label for="wed">Wednesday</label>
</div>


<div class="flex align-items-center gap-1">
    <p-checkbox name="group1" [disabled]="true" value="Thursday" [(ngModel)]="selectedschedule.thursday" [binary]="true" inputId="thu"></p-checkbox>
    <label for="thu">Thursday</label>
    </div>



    <div class="flex align-items-center gap-1">
        <p-checkbox name="group1" [disabled]="true" value="Friday" [(ngModel)]="selectedschedule.friday" [binary]="true" inputId="fri"></p-checkbox>
        <label for="fri">Friday</label>
        </div>

        <div class="flex align-items-center gap-1">
            <p-checkbox name="group1" [disabled]="true" value="Saturday" [binary]="selectedschedule.saturday" [binary]="true"    inputId="sat"></p-checkbox>
            <label for="sun">Saturday</label>
            </div>

            <div class="flex align-items-center gap-1">
                <p-checkbox name="group1" [disabled]="true" value="Sunday"    [(ngModel)]="selectedschedule.sunday" [binary]="true"  inputId="sun"></p-checkbox>
                <label for="sun">Sunday</label>
                </div>
</p-dialog>
  
  
  
  
  
 -->
