

<div class="card">

  
    <br/>
    <br/>



    <p-panel>
        <ng-template pTemplate="header"> <span class="text-primary font-semibold text-xl">Appointments Edit</span>  <span style="    margin-left: 86%;">    <p-button style="float:right" icon="pi pi-filter" styleClass="p-button-rounded p-button-secondary"  ></p-button>
        </span></ng-template>
  


          
    



        
        <ng-template pTemplate="footer"> 
            
            <button pButton pRipple label="Save" class="p-button-success"></button>
            
        </ng-template>
       

    
    </p-panel>






</div>






