



<div class="card">

  
    <br/>
    <br/>

    <p-panel>
        <ng-template pTemplate="header"> <span class="text-primary font-semibold text-xl">Users</span>
        
            <span style="    margin-left: 93%;">    <p-button style="float:right" icon="pi pi-filter" styleClass="p-button-rounded p-button-secondary" (click)="ClickFilter()"></p-button>
            </span>
        </ng-template>
  
          
    
    
    
        
        <div class="flex card-container">
            <div  >
    
            <!-- [loading]="loading" -->
                
                <p-table
                *ngxPermissionsOnly="['Control Panel:Human Resources:View']" 
                    #table
                    [value]="employees"
                    dataKey="id"
                    [rows]="10"
                    [showCurrentPageReport]="true"
                    [rowsPerPageOptions]="[10, 25, 50]"
                  
                    [paginator]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [globalFilterFields]="['fullName', 'gender', 'email', 'phone','cellNo','employeeType']"
                >
                    <!-- <ng-template pTemplate="caption">
                        <div class="flex">
                            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(table)"></button>
                
                
                            
                <p-dropdown (onChange)="OnChangeSearchByType($event)" [options]="resources" [(ngModel)]="selectedResource" placeholder="Select Resource" optionLabel="name"
                ></p-dropdown>
                
                <p-dropdown (onChange)="OnChangeSearchByStatus($event)"  [options]="status" [(ngModel)]="selectedStatus" placeholder="Select Status" optionLabel="name"
                ></p-dropdown>
                
                
                            <span class="p-input-icon-left ml-auto">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="handleSearchEvent($event)" #searchTxt placeholder="Search keyword" />
                            </span>
                

                        
                        </div>
                    </ng-template> -->
                    <ng-template pTemplate="header">
                        <tr>
                
                
                         
                
                            <th pSortableColumn="fullName" style="width:14%">
                                <div class="flex align-items-center">
                                    Name <p-sortIcon field="fullName"></p-sortIcon>
                                    <p-columnFilter type="text" field="fullName" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th  style="width:5%">
                                <div class="flex align-items-center">
                                    Gender
                                    <p-columnFilter type="text" field="gender" display="menu"></p-columnFilter>
                                </div>
                            </th>
                
                            <th  style="width:12%">
                                <div class="flex align-items-center">
                                    Employee Type
                                    <p-columnFilter type="text" field="employeeType" display="menu"></p-columnFilter>
                                </div>
                            </th>
                        
                            <!-- style="min-width:10rem" -->
                            <th style="width:5%">
                                <div class="flex align-items-center">
                                    Phone
                                    <p-columnFilter type="text" field="phone" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th style="width:5%">
                                <div class="flex align-items-center">
                                    Cell
                                    <p-columnFilter type="text" field="cellNo" display="menu" ></p-columnFilter>
                                </div>
                            </th>
                
                            <th  style="width:5%">
                                <div class="flex align-items-center">
                                    Email
                                    <p-columnFilter type="text" field="email" display="menu" ></p-columnFilter>
                                </div>
                            </th>
                
                
                            <th pSortableColumn="joiningDate" style="width:12%">
                                <div class="flex align-items-center">
                                    Joining Date <p-sortIcon field="joiningDate"></p-sortIcon>
                                    <p-columnFilter type="date" field="joiningDate" display="menu" ></p-columnFilter>
                                </div>
                            </th>
                      
                            <th  pSortableColumn="active"  style="width:5%">
                                <div class="flex align-items-center">
                                    Active <p-sortIcon field="active"></p-sortIcon>
                
                
                                </div>
                            </th>
                
                            
                
                            <th style="width: 2rem" *ngxPermissionsOnly="['Control Panel:Human Resources:Edit']"></th>
                
                
                            <th style="width: 2rem" *ngxPermissionsOnly="['Control Panel:Human Resources:Delete']"></th>
                
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-employee>
                        <tr>
                            <td>
                                {{ employee.fullName }}
                            </td>
                            <td>
                                <span class="ml-1 vertical-align-middle">{{ employee.gender }}</span>
                            </td>
                            <td>
                                <span class="ml-1 vertical-align-middle">{{ employee.employeeType }}</span>
                            </td>
                
                
                
                            <td>
                                <span class="ml-1 vertical-align-middle">{{ employee.phone }}</span>
                            </td>
                
                            
                            <td>
                                <span class="ml-1 vertical-align-middle">{{ employee.cellNo }}</span>
                            </td>
                
                
                            <td>
                                <span class="ml-1 vertical-align-middle">{{ employee.email }}</span>
                            </td>
                
                
                
                            <td>
                                {{ employee.joiningDate | date: 'MM/dd/yyyy' }}
                            </td>
                           
                
                            <td class="text-center">
                                <i class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': employee.active, 'text-red-500 pi-times-circle': !employee.active }"></i>
                            </td>
                
                
                            <td  *ngxPermissionsOnly="['Control Panel:Human Resources:Edit']" >
                             
                           
                                <a [routerLink]="['/control-panel/users/edit']" [queryParams]="{id: employee.employeeId}" routerLinkActive="active">
                                    <i class="pi pi-user-edit"></i><span>Edit</span>
                                </a>
                           
                            </td>
                
                
                            <td *ngxPermissionsOnly="['Control Panel:Human Resources:Delete']">
                             
                             
                       
                           
                
                    <p-button (click)="confirm($event,employee.employeeId,'bottom')"  pTooltip="Delete User" icon="pi pi-trash"  styleClass="p-button-danger"></p-button>
                
                            </td>
                
                      
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="7">No employee found.</td>
                        </tr>
                    </ng-template>
                
                
                    
                
                </p-table>
                
                <p-toast></p-toast>
    
    
            </div>
        </div>



        
        <ng-template pTemplate="footer"> 
            
                <p-button icon="pi pi-user-plus" (click)="buttonRoute('/control-panel/users/create')" label="Create" styleClass="p-button-success"></p-button>
            
        </ng-template>
    </p-panel>
  
  
</div>



<!-- <p-confirmPopup  key="positionDialog" [position]="position"  rejectButtonStyleClass="p-button-outlined" ></p-confirmPopup>
 -->

 <p-confirmDialog [style]="{ width: '50vw' }" key="positionDialog" [position]="position" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>






<p-dialog header="Filter" [(visible)]="filter" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '80vw' }" [draggable]="false"   [maximizable]="true">

  
    <br/><br/>
        <div class="flex">
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(table)"></button>
    
    
            
    <p-dropdown (onChange)="OnChangeSearchByType($event)" [options]="resources" [(ngModel)]="selectedResource" placeholder="Select Resource" optionLabel="name"
    ></p-dropdown>
    
    <p-dropdown (onChange)="OnChangeSearchByStatus($event)"  [options]="status" [(ngModel)]="selectedStatus" placeholder="Select Status" optionLabel="name"
    ></p-dropdown>
    
    
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="handleSearchEvent($event)" #searchTxt placeholder="Search keyword" />
            </span>
    
        
        </div>


</p-dialog>